.DS_Store
.vscode
__pycache__/
runs/
data/pop/POP909/
data/pop/melody_chords/
data/pop/.DS_Store
checkpoints/
output.mid
data/data_train.npz
data/data_val.npz
data/data_train_smooth.npz
data/data_val_smooth.npz
chord_transition_matrix.npy